<!-- main app container -->
   <!--=========== BEGIN ABOUT SECTION ================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">C'est quoi ?</h2>
                <p><b>mPetRescue</b> est une plateforme qui a été développée dans le but de sensibilisé les Marocains au bien-être des animaux.<br>
				En effet, les animaux au Maroc sont plus maltraités qu’ailleurs. À voir les histoires qu’on raconte et les photos qu’on partage à longueurs de journées sur le net par les communautés de la cause animale, on pourrait croire que l’enfer des animaux c’est le Maroc et les Marocains.<br>
				Ce serait alors une triste chose que nous soyons aussi insensibles chez nous à la souffrance animale.<br>
				C'est dans ce but que <b>mPetRescue</b> a été développée.</p>
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START SINGLE FEATURED ITEAM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Comment ça fonctionne ?
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             - Localiser l'animal en situation difficile.<br>
							 - Prendre une photo ou video.<br>
							 - Se connecter à mPetRescue.<br>
							 - Dénoncer le cas.<br>
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>Localiser l'animal en situation difficile
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            Errant ou chez son propriétaire, un animal mal traité ou vivant mal est toujours en danger, et c'est de notre responsabilité tous de nous mettre à l'acte.
							</div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #3 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="fa fa-check-square-o"></span>Prendre une photo ou video
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                             Là où vous vous trouvez et comme vous voyez l'animal, prenez votre mobile et documentez l'état grave dont vous êtes témoins.
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #4 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="fa fa-check-square-o"></span>Se connecter à mPetRescue
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
								Utiliser mPetRescue c'est simple, l'inscription est l'identification est rapide.<br>
								<a href="#">Inscrivez-vous dès maintenant !</a>
							 </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #5 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <span class="fa fa-check-square-o"></span>Dénoncer le cas
                              </a>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="../assets/img/slide/mPetRescue1.PNG" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="../assets/img/slide/mPetRescue2.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="../assets/img/slide/mPetRescue3.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="../assets/img/slide/mPetRescue4.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a href="#"> <img src="../assets/img/feature_img1.jpg" alt="img"></a>                           
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </section>
    <!--=========== END ABOUT SECTION ================-->
	
	 <!--=========== BEGAIN TEAM SIGN IN SECTION================-->
	<section id="signin">
	 <!-- BEGAIN SKILLS  -->
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="skills_area">
              <div class="slider_overlay"></div>
              <div class="container">               
                <div class="skills">
                 <div class="heading">
                    <h3 class="wow fadeInDown">Authentification</h3>             
                  </div><br>
				  <!-- BEGAIN CONTACT FORM -->
						<alert></alert>
						<register></register>
						<login></login>
						<usercard></usercard>
                </div>
              </div>
            </div>
          </div>
	</div>
        <!-- END SKILLS  -->
	</section>
	<!--=========== END TEAM SIGN IN SECTION================-->

      <!--=========== BEGAIN TEAM SECTION ================-->
    <section id="members">
      <div class="container">
        <div class="row">
			<topmembres></topmembres>
        </div>
      </div>
    </section>
    <!--=========== END TEAM SECTION ================-->

    <!--=========== BEGAIN WORKS SECTION ================-->
    <section id="chiffres">
      <!-- BEGAIN MILESTONE WORSK SECTION -->
      <div class="row">
		<chiffres></chiffres>
      </div>
      <!-- END MILESTONE WORSK SECTION -->
   
      <!-- END FORTFOLIO WORSK SECTION -->
    </section>
    <!--=========== END WORKS SECTION ================-->


    <!--=========== BEGAIN BLOG SECTION ================-->
    <section id="articles">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Articles</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN BLOG CONTENT -->
            <div class="blog_content">

              <!-- BEGAIN BLOG SLIDER -->
              <div class="blog_slider">
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>                   
                  </div>
                </div>

                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="../assets/img/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->


    <!--=========== BEGAIN TESTIMONIAL SECTION ================-->
    <section id="testimonial">
      <div class="container"> 
        <div class="row">
          <div class=" col-lg-7 col-md-7 col-sm-6">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Témoignages</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
          </div>
          <div class=" col-lg-5 col-md-5 col-sm-6">
            <div class="testimonial_customer">
              <!-- BEGAIN TESTIMONIAL SLIDER -->
              <ul class="testimonial_slider">
                <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#1 -->
                <li>
                  <div class="media testi_media">
                    <a class="media-left testi_img" href="#">
                      <img src="../assets/img/team-1.jpg" alt="img">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Alin Brown</h4>
                      <span>CEO</span>                      
                    </div>
                  </div>
                  <div class="testi_content">
                    <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                  </div>
                </li>
                <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#2 -->
                <li>
                  <div class="media testi_media">
                    <a class="media-left testi_img" href="#">
                      <img src="../assets/img/team-1.jpg" alt="img">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Jon Smith</h4>
                      <span>CEO</span>                      
                    </div>
                  </div>
                  <div class="testi_content">
                    <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                  </div>
                </li>
                <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#3 -->
                <li>
                  <div class="media testi_media">
                    <a class="media-left testi_img" href="#">
                      <img src="../assets/img/team-1.jpg" alt="img">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Jon Doe</h4>
                      <span>Manager</span>                      
                    </div>
                  </div>
                  <div class="testi_content">
                    <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>           
        </div>
      </div>
    </section>